# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# The compiled css code
theme.css
theme.css.map
theme.css

# Unrelated files
examples/
